---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<button>Test Action</button>
</Layout>

<script>
import { actions } from 'astro:actions';

const button = document.querySelector('button');
button?.addEventListener('click', async () => {
	const { data, error } = await actions.agent.register({
		symbol: 'Test Agent',
		faction: 'Test Faction'
	});

	if (!error) alert(data);

	else if (error) alert(`${error.code}\n${error.message}`);
});
</script>